<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="plugins" type="Interesting.Framework.PluginLoader, Interesting.Framework"/>
  </configSections>
  <plugins>
    <plugin type="Interesting.Plugins.HelloWorld, Interesting.Plugins.dll"/>
  </plugins>
</configuration>